@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html, body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
}
.main-container{
    opacity: 0;
    animation: 1s fadeIn forwards 2s;
}
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
.intro{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation: intro 2s forwards;
}
.intro h1{
    color: #fff;
    text-align: center;
    margin-top: 45vh;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.i-first, .i-second, .i-third {
    display: inline-block;
}
.i-first{
    animation: 2.3s fadeOut forwards;
}
.i-second{
    animation: 2.3s fadeOut forwards .1s;
}
.i-third{
    animation: 2.3s fadeOut forwards .2s;
}
@keyframes fadeOut {
    50%{
        transform: none;
        opacity: 100%;
    }
    100%{
        transform: translateY(2rem);
        opacity: 0;
    }
}
@keyframes intro {
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
.info{
    padding: 10rem;
}
.info h2{
    font-size: 5rem;
    margin: 0;
}
.info h3{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
}
.info p{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 2rem;
}